.mainSlide, .mainSlide ion-slide {
    width: 100%;
    height: 100%;
}

img {
    width: 120px;
}

.pick-avatar {
    width: 80px;
    opacity: 0.3;
}

.pick-avatar-seleccionado {
    transition: opacity 0.5s linear;
    opacity: 1 !important;
}

ion-list {
    display: contents !important;
}

.logo-tc {
    height: 125px !important;
    width: 80% !important;
    margin-top: -10px !important;
    margin-bottom: 50px !important;
    
}