<ion-header no-border translucent="true" mode="ios">
  <ion-toolbar color="light" mode="ios" class="ion-text-left">               
      
      <img class="img-toolbar" src="../../../assets/logoNegro.png" alt="" />
    
  </ion-toolbar>

</ion-header>






<ion-content class="ion-paddinf" fullscreen color="light">

<ion-grid fixed>
  <ion-row>
    <ion-col class="ion-text-center" color="tc2">
        <h1> TIENDACARD COMERCIOS !!!!</h1>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid fixed>
    <ion-row>
        <ion-col>
          <ion-button type="button"
                      color="tc1"
                      shape="round"
                      size="large"
                      expand="block"
                      (click)="nuevoComercio()"
                      >
            Cargar su Comercio
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col>
            <ion-button type="button"
                        color="tc2"
                        shape="round"
                        size="large"
                        expand="block"
                        (click)="perfilComercio()"
                        
                        >
              Editar su Comercio
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
              <ion-button type="button"
                          color="tc3"
                          shape="round"
                          size="large"
                          expand="block"
                          (click)="nuevoPost()"
                          >
                Nuevo Beneficio
              </ion-button>
            </ion-col>
          </ion-row>
</ion-grid>




</ion-content>








