<ion-tabs no-border mode="ios" translucent="true">

  <ion-tab-bar slot="bottom" color="light" mode="ios" translucent="true">

    <ion-tab-button tab="tarjeta" color="tc1" mode="ios">
          <ion-icon name="card" color="tc1"></ion-icon>
          <ion-label color="tc1">Tarjeta</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="tab1" color="tc1">
      <ion-icon name="ios-pricetags" color="tc1"></ion-icon>
      <ion-label color="tc1">Beneficios</ion-label>
    </ion-tab-button>

    <!-- Se anula posibilidad que un cliente pueda Publicar !!! -->
    <!-- <ion-tab-button tab="tab2" color="tc1" mode="ios">
      <ion-icon name="add-circle-outline" color="tc1"></ion-icon>
      <ion-label color="tc1">Publicar</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="favoritos" color="tc1" mode="ios">
      <ion-icon name="heart" color="tc1"></ion-icon>
      <ion-label color="tc1">Favoritos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" color="tc1" mode="ios">
        <ion-icon name="person" color="tc1"></ion-icon>
        <ion-label color="tc1">Perfil</ion-label>
      </ion-tab-button>


  </ion-tab-bar>

  

</ion-tabs>
