
.img-avatar {
    width: 100px;
}

.top-10 {
    margin-top: 10px;
}

ion-list {
    display: contents !important;
}

.caja-perfil {
    background-color: #ff7f00 !important;
}

.caja-qr {
    height: 50% !important;
    width: 160px !important

}

.btn-logout {
    margin-top: 25px !important
}